color palette
white 		#FAF9F6
black 		#28282B
#E6DFD9
#C8B1A5

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Georgia, 'Lucida Sans', arial;
	color: #28282B;
}

body{
 	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

nav{
	color: #FAF9F6;
	display: flex;
	justify-content: flex-end;
	margin-right: 24px;
}

ul{
	display: flex;
	justify-content: flex-end;
	gap: 42px;
	list-style-type: none;
	font-size: 18px;
}

/* fix bg image*/ 
.hero-block{
	border: solid 1px red;
	background-color: ##E6DFD9;
	background-image: url("img/header.jpg");
	background-size: cover;
	color: ##28282B;
	height: 600px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hero-left{
	background: #E6DFD9;
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
}

.hero-left p{
	font-size: 32px;
	width: 40%;
	text-align: left;
}

.shop-here{
	background: #FAF9F6;
	font-family: Georgia;
	border: none;
	border-radius: 32px;
	font-size: 18px;
	width: 10em;
	height: 3em;
}

.sustain-block p,
.about-block p,
.item p{
	font-family: 'Lucida Sans';
}

/* who are we section */ 
.about-block{
	background: #FAF9F6;
	padding: 64px 0;
	text-align: center;	
}

.about-block p{
	/* border: solid 1px red; */
	width: 60%;
	margin: 0 auto;
}

/* sustainability section */
.sustain-block{
	background: #E6DFD9;
	padding: 64px 0;
	display: flex;
	justify-content: center;
}

.sustain-container{
	/* border: solid 1px red; */
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sustain-pic{
	width: 300px;
	/*min-width: 300px; */
}

.sustain-right{
	text-align: center;
	max-width: 50%;
}

/* goals and values section */
.goals-block{
	padding: 64px 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.goals-block h2{
	text-align: left;
}

.goals-container{
	/* border: solid 1px red; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item{
	/* border: solid 1px blue; */
	text-align: left;
	width: 30%;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item img{
	width: 300px;
}

.item p{
	width: 300px;
}

.item h3{
	text-align: left;
	width: 300px;
}

/* preview section */
.shop-block{
	background: #E6DFD9;
	padding: 64px 0;
}

.shop-container{
	display: flex;
	justify-content: space-around;
	overflow: auto;
	gap: 24px;
}

.shop-item img{
	width: 300px;
}

footer{
	background: #C8B1A5;
	padding: 64px 0;
}

.footer-container{
	display: flex;
	justify-content: space-around;
}

.footer-left{
	border: solid 1px darkred;
}

.footer-right{
	border: solid 1px lightred;
	display: flex;
	gap: 32px;
}

.footer-about,
.footer-help{
	text-align: left;
}

.footer-right p{
	font-weight: bold;
}

.footer-right ul{
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0;
	margin: 0;
}